NODE_ENV=production
PORT=3010
NOTIFICATION_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_notification_db?retryWrites=true&w=majority
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_ALGORITHM=RS256
RABBITMQ_URI=amqps://<user>:<password>@<host>/<vhost>
