NODE_ENV=production
PORT=3007
IMAGE_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_image_db?retryWrites=true&w=majority
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_ALGORITHM=RS256
SERVICE_TOKEN=internal-service-token
USE_LOCAL_IMAGE_STORAGE=false
AWS_ACCESS_KEY_ID=<aws_access_key>
AWS_SECRET_ACCESS_KEY=<aws_secret_key>
AWS_REGION=ap-southeast-2
AWS_BUCKET_NAME=s3-bucket-vehicle-rental-system
