NODE_ENV=production
PORT=3008
DISPUTE_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_dispute_db?retryWrites=true&w=majority
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_ALGORITHM=RS256
RABBITMQ_URI=amqps://<user>:<password>@<host>/<vhost>
CONTRACT_SERVICE_URL=http://localhost:3004
