MONGO_ATLAS_BASE_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net
SOURCE_DB=rental_vehicle_db

USER_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_user_db?retryWrites=true&w=majority
VEHICLE_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_vehicle_db?retryWrites=true&w=majority
RENTAL_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_rental_db?retryWrites=true&w=majority
CONTRACT_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_contract_db?retryWrites=true&w=majority
PAYMENT_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_payment_db?retryWrites=true&w=majority
TRACKING_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_tracking_db?retryWrites=true&w=majority
DISPUTE_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_dispute_db?retryWrites=true&w=majority
REVIEW_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_review_db?retryWrites=true&w=majority
NOTIFICATION_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_notification_db?retryWrites=true&w=majority
STATISTIC_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_statistic_db?retryWrites=true&w=majority
IMAGE_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_image_db?retryWrites=true&w=majority

REDIS_URL=redis://default:<password>@<host>:<port>
RABBITMQ_URI=amqps://<user>:<password>@<host>/<vhost>

JWT_ALGORITHM=RS256
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----
JWT_EXPIRES_IN=7d

VITE_API_BASE_URL=https://<your-api-gateway-render-url>/api
VITE_GOOGLE_MAPS_API_KEY=<google_maps_key>
VITE_GOOGLE_MAPS_MAP_ID=<google_maps_map_id_optional>
VITE_GEMINI_API_KEY=<gemini_api_key_optional>
VITE_GEMINI_MODEL=gemini-1.5-flash
