NODE_ENV=production
PORT=3003
RENTAL_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_rental_db?retryWrites=true&w=majority
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_ALGORITHM=RS256
SERVICE_TOKEN=internal-service-token
RABBITMQ_URI=amqps://<user>:<password>@<host>/<vhost>
VEHICLE_SERVICE_URL=http://localhost:3002
USER_SERVICE_URL=http://localhost:3001
CONTRACT_SERVICE_URL=http://localhost:3004
PAYMENT_SERVICE_URL=http://localhost:3005
SAGA_MAX_RETRY=2
SAGA_RETRY_DELAY_MS=3000
