NODE_ENV=production
PORT=3006
TRACKING_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_tracking_db?retryWrites=true&w=majority
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_ALGORITHM=RS256
RABBITMQ_URI=amqps://<user>:<password>@<host>/<vhost>
REDIS_URL=redis://default:<password>@<host>:<port>
RABBITMQ_EXCHANGE=vehicle_rental_events
VEHICLE_SERVICE_URL=http://localhost:3002
