NODE_ENV=production
PORT=3009
REVIEW_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_review_db?retryWrites=true&w=majority
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_ALGORITHM=RS256
USER_SERVICE_URL=http://localhost:3001
VEHICLE_SERVICE_URL=http://localhost:3002
RENTAL_SERVICE_URL=http://localhost:3003
SERVICE_TOKEN=internal-service-token
