NODE_ENV=production
PORT=3001
USER_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentcar_user_db?retryWrites=true&w=majority
JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_ALGORITHM=RS256
JWT_EXPIRES_IN=7d
IMAGE_SERVICE_URL=http://localhost:3007
SERVICE_TOKEN=internal-service-token
